canvas {
  border:0;
  display:block;
  margin:0 auto;
}

.tiles {
  height: 20px;
  width: 400px;
  border-width: thick;
  background-color: black;
}

.player-tag {
  height: 20px;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 25px;
}

.players {
  position: fixed;
  top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.player-info {
  display: none;
}

.turnCount-container {
  text-align: center;
  height: 50px;
}

.roll {
  text-align: center;
  height: 50px;
}

.button-container {
  text-align: center;
  height: 100px;
}

#player1-corner {
  left: 0px
}

#player2-corner {
  right: 40px;
}
