canvas {
  border:0;
  display:block;
  margin:0 auto;
}

.tiles {
  height: 20px;
  width: 400px;
  border-width: thick;
  background-color: black;
}

.players {
  position: fixed;
}

#turn-count {
  text-align: center;
  height: 100px;
}

#button-container {
  text-align: center;
  height: 100px;
}

#player1-corner {
  left: 0px
  top: 100px
}

#player2-corner {
  right: 40px;
  top: 100px;
}
