canvas {
  border:0;
  display:block;
  margin:0 auto;
}

.game-header {
  width: 50%;
  text-align: center;
  margin: 0 25%;
  position: absolute;
}

.player-left {
  height: 100%;
}

.hexmap {
  position: relative;
  text-align: center;
  top: 220px;
  margin: 0 auto;
}

.player-resBtn {
  margin-top: 10px;
}

.player-tag {
  height: 20px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 25px;
}

.players {
  position:absolute;
  margin:0;
  padding:5px 15px;
}

.player-info {
  display: none;
}

.player-resources {
  visibility: hidden;
}

.player-values {
  visibility: hidden;
}

.trade_with {
  visibility: hidden;
}

.turnCount-container {
  text-align: center;
  height: 50px;
}

.roll {
  text-align: center;
  height: 50px;
}

.button-container {
  text-align: center;
  height: 100px;
  margin-left: 80px;
}

.trade_with{
  margin: 5px;
}

.to-build{
  font-size: 11px;
}

#endTurnBtn {
  margin-top: 10px;
  margin-right: 75px;
}

#submitTradeBtn {
  visibility: hidden;
}

#player1-corner {
  top:0;
  left:0;
}

#player2-corner {
  top:0;
  right:0;
}

#player3-corner {
  bottom:0;
  left:0;
  margin-bottom: 15px;
}

#player4-corner {
  bottom:0;
  right:0;
  margin-bottom: 15px;
}

#player1-info {
  border: 2px solid #FF0000;
  border-radius: 15px;
  padding: 0 10px;
}

#player2-info {
  border: 2px solid #0085FF;
  border-radius: 15px;
  padding: 0 10px;
}

#player3-info {
  border: 2px solid #FF9900;
  border-radius: 15px;
  padding: 0 10px;
}

#player4-info {
  border: 2px solid #9600FF;
  border-radius: 15px;
  padding: 0 10px;
}
